* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.carousel-item > img {
    height: 40rem;
}

.card > div > div > img {
    width: 100%;
}

footer {
    background-color: black;
    height: 300px;
}
.social {
    height: 40px;
    width: 40px;
}