* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.carousel-item > img {
    height: 40rem;
}

.card > div > div > img {
    width: 100%;
}

footer {
    background-color: black;
    height: 300px;
}
.social {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 576px) {
    .companies {
        display: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .card {
        width: 100%;
    }
}
